<div class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-left">
        <a href="https://github.com/arthur-littm" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.facebook.com/arthur.Iittmann" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/arthur-littmann/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UCC6p0L9affF4y4iIxB5jWoQ" target="_blank"><i class="fa fa-youtube"></i></a>
        <a href="mailto:arthur@lewagon.com"><i class="fa fa-envelope"></i></a>
      </div>
      <div class="footer-right hidden-xs">
        <span>Designed and developed by Arthur Littmann.</span>
      </div>
    </div>
  </div>
</div>
