<div class="container">
  <div class="footer unselectable">
    <div class="links">
      <a href="">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="">
        <i class="fab fa-github-square"></i>
      </a>
      <a href="">
        <i class="fab fa-dribbble-square"></i>
      </a>
      <a href="">
        <i class="fab fa-youtube-square"></i>
      </a>
      <a href="">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <span>Designed by Arthur Littmann</span>
  </div>
</div>
