<div class="menu-content">
  <a href="#" class="menu-section" data-id="aboutMe" data-icon="about">
    <div class="section-particles" id="aboutMe"></div>
    <div>
      <h1>About me.</h1>
    </div>
  </a>
  <a href="#" class="menu-section" data-id="doForWork" data-icon="money">
    <div class="section-particles" id="doForWork"></div>
    <div>
      <h1>What I do for work.</h1>
    </div>
  </a>
  <a href="#" class="menu-section" data-id="doForFun" data-id="" data-icon="fun">
    <div class="section-particles" id="doForFun"></div>
    <div>
      <h1>What I do for fun.</h1>
    </div>
  </a>
  <a href="#" class="menu-section" data-id="getInTouch" data-id="" data-icon="letter">
    <div class="section-particles" id="getInTouch"></div>
    <div>
      <h1>Get in touch.</h1>
    </div>
  </a>
</div>
