<div class="container">
  <div class="navb">
    <%= image_tag "logo.png", class: "logo unselectable" %>
    <a href="" class="menu" id="menu-link">
      <div class="menu-container">
        <div class="bars">
          <span></span>
          <span></span>
          <span></span>
          <div class="other-bar"></div>
        </div>
      </div>
    </a>
  </div>
</div>
