<div class="container">
  <div class="navb unselectable">
    <a href="/">
      <%= image_tag "logo.png", class: "logo unselectable" %>
    </a>
    <div class="menu-nav hidden-xs hidden-sm">
      <a href="" class="active">Home</a>
      <a href="/about-me" class="">About me</a>
      <a href="" class="">My work</a>
      <a href="" class="">Get in touch</a>
    </div>

    <div class="hidden-md hidden-lg">

    </div>
  </div>
</div>
