.home-banner {
  height: 100vh;
  position: relative;
  background-color: #F7F7F7;
  z-index: 3;
  .home-banner-content {
    width: 100%;
    text-align: center;
    h1 {
      font-size: 60px;
      color: #333333;
    }
  }
  canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

#banner-sentence {
  strong {
    color: #F95531;
  }
}

.banner {
  padding: 100px 0;
  background: #f7f7f7;
  .banner-title {
    text-align: center;
    h2 {
      font-weight: bold;
      font-size: 35px;
      margin-bottom: 100px;
      margin-top: 0px;
    }
  }
  .banner-content-big {
    font-size: 20px;
  }
}

.blue-banner {
  background: linear-gradient(to right, #141e30, #243b55);
  color: #e7ecf5;
}
