.footer {
  background-color: #141e30;
  color: white;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content {
  i {
    margin-right: 30px;
    font-size: 22px;
  }
  a {
    color: white;
    opacity: .5;
    &:hover {
      opacity: .7;
      text-decoration: none;
    }
  }
  span {
    opacity: .5;
  }
}
