@import "banners.css.scss";
@import "buttons.css.scss";
@import "feature-card.css.scss";
@import "forms.css.scss";
@import "footer.css.scss";
@import "links.css.scss";
@import "skills.css.scss";
@import "map.css.scss";
@import "navbar.css.scss";
@import "recommendation-card.css.scss";
@import "project-card.css.scss";
@import "videos.css.scss";
@import "progress.css.scss";
@import "list.css.scss";
@import "instagram-card.css.scss";
