.separator {
  margin: 50px auto;
  width: 500px;
}

.instagram-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all .3s;
  filter: grayscale(1);
}

.insta-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.insta-card-country {
  bottom: 10px;
  position: absolute;
  right: 10px;
  margin: 0;
  color: #4574A5;
  background-color: white;
  border-radius: 2px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 20px;
  transition: .3s;
}

.insta-card:hover .instagram-picture {
  transform: scale(1.2);
  filter: grayscale(0);
}

.insta-card:hover .insta-card-country {
  right: -200px;
}

.insta-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
