$menu-color: $dark-gray;
$cross-color: white;
$snappy : cubic-bezier(0.694,  0.048, 0.335, 1.000);

.menu-container {
  .bars {
    width: 50px;
    height: 20px;
    position: relative;
    transition: transform 0.3s $snappy;
    // border: 1px solid white;
    span {
      display: block;
      width: 100%;
      height: 4px;
      background-color: $menu-color;
      margin-top: 8px;
      transition: background-color 0.5s $snappy;
      &:first-child {
        margin-top: 0;
        transform: scaleX(1);
        transition: transform 0.2s $snappy;
        transition-delay: 0.4s;
      }
      &:nth-child(3) {
        width: 65%;
        transition: width 0.2s $snappy;
        transition-delay: 0.4s;
      }
    }
    .other-bar {
      width: 4px;
      height: 0;
      background-color: $menu-color;
      position: absolute;
      top: -11px;
      left: 55%;
      margin-left: -5px;
      transition: height 0.4s $snappy;
      z-index: 11;
      transition: background-color 0.5s $snappy;
    }
  }
  &.is-menu-open {
    .bars {
      transform: rotate(45deg);
      transition-delay: 0.4s;
      span {
        background-color: $cross-color;
        &:first-child {
          transform: scaleX(0);
          transition: transform 0.2s $snappy;
        }
        &:nth-child(3) {
          width: 0;
          transition: width 0.2s $snappy;
        }
      }
      .other-bar {
        height: 50px;
        transition: height 0.2s $snappy;
        transition-delay: 0.3s;
        background-color: $cross-color;
      }
    }
  }
}

#menu-link {
  z-index: 11;
}

.menu-content {
  width: 0vw;
  height: 100vh;
  z-index: 10;
  transition: width .8s;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.menu-content.is-content-open {
  width: 100vw;
}

.menu-section {
  background-color: $primary;
  height: 100%;
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  transition: .3s;
  position:relative;
  h1 {
    text-align: center;
    color: white;
  }
  &:hover {
    background-color: rgba(133, 236, 235, 0.8);
    text-decoration: none;
  }
}

.section-particles {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
