.navb {
  display: flex;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  .logo {
    width: 50px;
  }
}

.unselectable {
  user-select: none;
}

.menu-nav {
  display: flex;
  a {
    text-decoration: none;
    color: $light-gray;
    margin: 0 16px;
    transition: .3s;
  }
  a:hover {
    color: $primary;
  }
}

.normal .menu-nav a.active, .normal .menu-nav a.active:hover {
  color: $bg-dark;
}
.dark .menu-nav a.active, .normal .menu-nav a.active:hover {
  color: $bg-light;
}
