.project-card {
  padding: 16px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 20px;
  // position: relative;

  .project-category {
    // margin: 0;
    font-size: 14px;
    color: #4574A5;
    // font-weight: bold;
  }
  .project-img {
    position: relative;
    img {
      width: 100%;
      transition: .5s;
      position: relative;
      border-radius: 2px;
    }
    .disabled-project {
      position: absolute;
      top: 5px;
      right: 5px;
      background: rgba(0,0,0,0.3);
      padding: 5px 10px;
      color: white;
    }
  }
  .project-info {

    h3 {
      text-align: center;
      margin-top: 16px;
      margin-bottom: 0;
      font-family: $base-font;
      color: #4574A5;
    }
    .description {
      margin-bottom: 10px;
      opacity: .7;
    }
  }
}

.project-card .project-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
