.project-card {
  padding: 16px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 20px;
  img {
    width: 100%;
    transition: .5s;
    position: relative;
    border-radius: 2px;
  }
  .project-info {

    h3 {
      text-align: center;
      margin-top: 10px;
      font-family: $base-font;
      color: #243b55;
    }
  }
  .disabled-project {
    position: absolute;
    top: 20px;
    right: 35px;
    background: rgba(0,0,0,0.3);
    padding: 5px 10px;
    color: white;
  }
}

.project-card .project-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
