/* -------------------------------------
 * Fonts
 * ------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Asap:600|PT+Serif:400,700');

$base-font: "PT Serif", "Helvetica", "sans-serif";
$header-font: "Asap", "Helvetica", "sans-serif";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme

$bg-gray: #F4F5F7;
$light-gray: #B2BEC3;
$dark-gray: #2D3436;

$primary: #85ECEB;
$secondary: #FF7675;
