/* -------------------------------------
 * Fonts
 * ------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Asap:400,600');

@font-face {
    font-family: 'Seattle sans';
    src: url('../fonts/seattle_sans-webfont.woff2') format('woff2'),
         url('../fonts/seattle_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$base-font: "Asap", "Helvetica", "sans-serif";
$header-font: "Seattle sans", "Helvetica", "sans-serif";

// Font-size and line-height
$base-size: 18px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme

$bg-light: #F4F5F7;
$bg-dark: #2D3436;
$light-gray: #B2BEC3;
$dark-gray: #2D3436;

$primary: #85ECEB;
$secondary: #FF7675;
