<div class="container about-me">
   <h1 class="title">About me</h1>
   <hr class="title-line">
   <div class="section reverse-mobile">
    <div class="left">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quia unde, nam odio distinctio possimus doloremque ducimus alias, harum nisi aspernatur iure recusandae, dolore repellat ut. Pariatur, hic, quaerat.</p>
    </div>

    <div class="right">
      <%= image_tag "coding.svg", class: "contact-illustration" %>
    </div>
   </div>
   <div class="section">
    <div class="left">
      <%= image_tag "teach.svg", class: "contact-illustration" %>
    </div>

    <div class="right">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quia unde, nam odio distinctio possimus doloremque ducimus alias, harum nisi aspernatur iure a recusandae, dolore repellat ut. Pariatur, hic, quaerat.</p>
    </div>
   </div>
   <div class="section reverse-mobile">
    <div class="left">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quia unde, nam odio distinctio possimus doloremque ducimus alias, harum nisi aspernatur iure a recusandae, dolore repellat ut. Pariatur, hic, quaerat.</p>
    </div>

    <div class="right">
      <%= image_tag "fun.svg", class: "contact-illustration" %>
    </div>
   </div>
 </div>
