<div class="container about-me">
   <h1 class="title">About me</h1>
   <hr class="title-line">
   <div class="section reverse-mobile">
    <div class="left">
      <p>I am a fullstack Ruby on Rails developer based in London. Currently working for the <a href="https://medium.com/@switchup/best-coding-bootcamps-the-2018-comprehensive-guide-eb31eb8175cd">best ranked coding bootcamp in the world</a>, Le Wagon. Developing the educational platforms for the different campuses around the world.</p>
    </div>

    <div class="right">
      <%= image_tag "coding.svg", class: "contact-illustration" %>
    </div>
   </div>
   <div class="section">
    <div class="left">
      <%= image_tag "teach.svg", class: "contact-illustration" %>
    </div>

    <div class="right">
      <p>I am also the lead teacher of the Le Wagon London campus, helping students on all the <a href="https://www.lewagon.com/program">subjects covered</a> during the course.</p>
    </div>
   </div>
   <div class="section reverse-mobile">
    <div class="left">
      <p>When I'm not counting pixels I like to snowboard, cycle, dive.</p>
    </div>

    <div class="right">
      <%= image_tag "fun.svg", class: "contact-illustration" %>
    </div>
   </div>
 </div>
