<div class="container about-me" style="background-image: url(images/aboutbg.png);">
  <div class="smaller-container">
    <h1 class="text-center">About me</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus dicta suscipit, debitis totam doloremque at perferendis distinctio facilis fugit nisi quos omnis, rerum quod ab architecto voluptatum perspiciatis! Recusandae, quisquam.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus dicta suscipit, debitis totam doloremque at perferendis distinctio facilis fugit nisi quos omnis, rerum quod ab architecto voluptatum perspiciatis! Recusandae, quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe aliquam officiis ratione voluptatibus, sint, deleniti inventore similique natus cum accusamus ut. Minima hic, harum corporis dolores accusantium debitis, facere modi?</p>

  </div>
 </div>
