<div class="container get-in-touch">
  <div class="row">
    <div class="col xs-12 col-md-6">
      <h1 class="title">Get in touch</h1>
      <hr class="title-line">
      <form action="https://formspree.io/arthur.littmann@gmail.com" method="POST" />
        <input type="hidden" name="_next" value="https://site.io/thanks.html" />
        <input class="form-control" type="text" name="fullname" placeholder="Chuck Norris">
        <input class="form-control" type="text" name="_replyto" placeholder="chuck.norris@hotmail.com">
        <textarea class="form-control" name="message" rows="5" placeholder="Did you know I can unit test entire applications with a single assert?"></textarea>
        <input type="submit" value="Submit" class="btn btn-submit">
      </form>
    </div>
    <div class="col xs-12 col-md-6">
      <%= image_tag "getintouch.svg", class: "contact-illustration" %>
    </div>
  </div>
</div>
