<div class="container">
  <%= image_tag "favicon.svg", class: "logo" %>
  <div class="banner">
    <div>
      <h1>This is <strong>Arthur</strong> Litt<strong>mann</strong>. 🔥</h1>
      <h4>I am a
        <strong class="snippet">
          <%= partial "snippet.svg" %>
          developer
        </strong> &
        <strong class="stroke">
          <%= partial "stroke.svg" %>
          designer
        </strong> in London.
      </h4>
    </div>
  </div>
</div>
