<div class="container">
  <div class="banner">
    <div class="unselectable">
      <h4>Hey there. 👋</h4>
      <h4>My name is Arthur Littmann.</h4>
      <h4>I am a
        <strong class="snippet">
          <%= image_tag "snippet.png", id: "snippet" %>
          developer
        </strong> &
        <strong class="stroke">
          <%= image_tag "stroke.png", id: "stroke" %>
          designer
        </strong> in London.
      </h4>
      <hr>
    </div>
  </div>
</div>


