<div class="container thanks">


  <h1>Messaged recieved!</h1>
  <p>I'll answer you as soon as I find that missing <code>&lt;/div&gt;</code> I've been looking for the last 8 hours in one of my projects.</p>
  <div id="phaser-snake">

  </div>
</div>
